<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Home Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="container-fluid p-1 mb-2 bg-dark text-white">
    <div class="d-flex flex-row-reverse">
        <div th:unless="${firstName}" class="d-flex justify-content-end">
            <a href="/login" class="btn btn-dark float-right">Login</a>
            <a href="/register" class="btn btn-dark float-right">Register</a>
        </div>
        <div th:if="${firstName}" class="d-flex flex-column align-items-center justify-content-center">
            <a href="/logout" class="btn btn-dark float-right">Logout</a>
            <p class="text-center mt-2">Welcome, <span th:text="${firstName}"></span>!</p>
        </div>
    </div>
</div>

</body>
</html>
