<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Home Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="container-fluid p-1 mb-2 bg-dark text-white">
    <div class="d-flex flex-row-reverse">
        <div th:unless="${username}" class="d-flex justify-content-end">
            <a href="/login" class="btn btn-dark float-right">Login</a>
            <a href="/register" class="btn btn-dark float-right">Register</a>
        </div>
        <div th:if="${username}" class="d-flex flex-column align-items-center justify-content-center">
            <a href="/logout" class="btn btn-dark float-right">Logout</a>
            <p class="text-center mt-2">Welcome, <span th:text="${username}"></span>!</p>
        </div>
    </div>
</div>
<main class="py-5 shadow-sm bg-gray-100">
    <div class="container mx-auto p-4">
        <div class="grid grid-cols-3 gap-4">
            <div th:each="post : ${posts}" class="border p-4">
                <h2 class="text-xl font-bold mb-2" th:text="${post.title}"></h2>
                <p th:text="${post.content}"></p>
                <a th:href="@{/post/{id}(id=${post.id})}">View Post</a>
            </div>
        </div>
    </div>
</main>
</body>
</html>
