<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register System</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
</head>
<body>
<br /><br />
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-header">
                    <h2 class="text-center">Register Form</h2>
                </div>

                <div th:if="${success}">
                    <div class="alert alert-success" th:text="${success}"></div>
                </div>
                <script th:if="${success}">
                    setTimeout(function() {
                        window.location.href = '/login';
                     }, 2000);
                </script>

                <div class="card-body">
                    <form
                            method="post"
                            role="form"
                            th:action="@{/register?success}"
                            th:object="${user}"
                            class="form-horizontal"
                    >
                        <div class="form-group mb-3">
                            <label class="control-label"> First name</label>
                            <input
                                    type="text"
                                    id="firstName"
                                    name="firstName"
                                    th:field="*{firstName}"
                                    class="form-control"
                                    placeholder="Enter first name"
                                    required minlength="3"
                            />
                            <p th:errors = "*{firstName}" class="text-danger"
                               th:if="${#fields.hasErrors('lastName')}"></p>
                        </div>

                        <div class="form-group mb-3">
                            <label class="control-label"> Last name</label>
                            <input
                                    type="text"
                                    id="lastName"
                                    name="lastName"
                                    th:field="*{lastName}"
                                    class="form-control"
                                    placeholder="Enter last name"
                                    required minlength="3"
                            />
                            <p th:errors = "*{lastName}" class="text-danger"
                               th:if="${#fields.hasErrors('lastName')}"></p>
                        </div>

                        <div class="form-group mb-3">
                            <label class="control-label"> Email</label>
                            <input
                                    type="text"
                                    id="email"
                                    name="email"
                                    th:field="*{email}"
                                    class="form-control"
                                    placeholder="Enter email address"
                                    required minlength="3"
                            />
                            <p th:errors = "*{email}" class="text-danger"
                               th:if="${#fields.hasErrors('email')}"></p>
                        </div>

                        <div class="form-group mb-3">
                            <label class="control-label"> Password</label>
                            <input
                                    type="password"
                                    id="password"
                                    name="password"
                                    th:field="*{password}"
                                    class="form-control"
                                    placeholder="Enter password"
                                    required minlength="3"
                            />
                            <p th:errors = "*{password}" class="text-danger"
                               th:if="${#fields.hasErrors('password')}"></p>
                        </div>

                        <div class="form-group mb-3">
                            <label class="control-label"> Confirm password</label>
                            <input
                                    type="password"
                                    id="confirm_password"
                                    class="form-control"
                                    placeholder="Enter password"
                                    onkeyup="check();"
                                    required minlength="3"
                            />
                            <span id = 'message'> </span>
                        </div>

                        <div class="form-group mb-3">
                            <button type="submit" class="btn btn-primary" >Submit</button>
                            <span> You already have an account ??
                                <a th:href="@{/login}">SIGN IN</a>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    var check = function(){
        if(document.getElementById('password').value == document.getElementById('confirm_password').value){
            document.getElementById('message').style.color = 'green';
            document.getElementById('message').innerHTML = 'matching';
        }else{
            document.getElementById('message').style.color = 'red';
            document.getElementById('message').innerHTML = 'not matching';
        }
    }
</script>
</html>